<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CP Sheet</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include('partials/navbar') %>
        <div class="container welcome-layout">
            <header>
                <h1>Welcome to CP Sheet</h1>
            </header>
            <p class="welcome-text">Create your own competitive programming sheet!</p>

            <div style="display: flex; gap: 15px; margin-top: 20px;">
                <button onclick="window.location.href='/sheet'" class="btn-welcome">
                    Go to your sheets
                </button>
            </div>
        </div>
         <script src="/js/script.js"></script>
</body>

</html>