<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CP Sheet</title>
</head>

<body>
    <h1>Welcome to CP Sheet</h1>
    <p>Create your own competitive programming sheet!</p>

    <button onclick="window.location.href='/sheet'">
        Go to your sheets
    </button>
</body>
</html>
